.btn-color{
  background-color: #274AB3;
  color: #fff;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
   
  background-color: #00FFF0;
 
 text-align: center;
 vertical-align: middle;
}

a{
  text-decoration: none;
}