      
      <aside  [class.active]="isSidebarOpen" class="sidebar position-relative">
       <a (click)="toggleSidebar()" class="toggle-btn">
                <i class="bi bi-arrow-left-square"></i>
       </a>
          <ul class="sidebar-nav" id="sidebar-nav" >
          <li class="nav-item " >
            <a class="nav-link" >
              <i class="fa fa-user-plus"></i>
              <span>Supplier Registration</span>
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link">
              <i class="fa fa-user-plus"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#survey-nav" data-bs-toggle="collapse" href="#">
              <i class="fa fa-object-group" aria-hidden="true"></i><span>Survey</span><i
                class="bi bi-chevron-down ms-auto me-1"></i>
            </a>
            <ul id="survey-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li class="nav-link ">
                <a >
                  <span>Survey List</span>
                </a>
              </li>
              <li class="nav-link ">
                <a >
                  <span>Distribution Group List</span>
                </a>
              </li>
              <li class="nav-link ">
                <a >
                  <span>Customer Master List</span>
                </a>
              </li>
                  <li class="nav-link ">
                <a >
                  <span>Question Bank</span>
                </a>
              </li>
                <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
                <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
            </ul>
          </li>
             <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#survey-nav1" data-bs-toggle="collapse" href="#">
              <i class="fa fa-object-group" aria-hidden="true"></i><span>Survey1</span><i
                class="bi bi-chevron-down ms-auto me-1"></i>
            </a>
            <ul id="survey-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li class="nav-link ">
                <a >
                  <span>Survey List</span>
                </a>
              </li>
              <li class="nav-link ">
                <a >
                  <span>Distribution Group List</span>
                </a>
              </li>
              <li class="nav-link ">
                <a >
                  <span>Customer Master List</span>
                </a>
              </li>
                  <li class="nav-link ">
                <a >
                  <span>Question Bank</span>
                </a>
              </li>
                <li class="nav-link ">
                <a >
                  <span>Survey Approval Worklist</span>
                </a>
              </li>
               
            </ul>
          </li>
        </ul>

      </aside>