@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    // font-family: 'Hero New', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.wrapper {
    width: 100%;
     height: calc(100vh - 100px);
     overflow: hidden;
}
header{
   
.navbar {
    font-family: "Poppins", sans-serif;
        // box-shadow: 0 0 28px rgba(82, 63, 105, .08);
        box-shadow: 0px 15px 10px -15px #9c9b9b; 
        z-index: 1;
}
}
